<div class="contents row">

<%= form_for(@tweet) do |f| %>
  <div class="field">
        <%= f.label :"名前" %> <em></em><br />
        <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :"タイトル" %><br />
    <%= f.text_area:title %>
  </div>
 <div class="field">
    <%= f.label :"日記" %><br />
    <%= f.text_area :text %>
  </div>

    <%= f.submit "投稿する" %>

  <% end %>
</div>