<!DOCTYPE html>
<html>
  <head>
    <title>Nikki</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class = "#f06292 pink lighten-2">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">みんなの日記</a>
          <% if user_signed_in? %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><a class="post" href="/tweets/new">投稿する</a></li>
          </ul>
          <% else %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
          </ul>
          <% end %>
        </div>
  </nav>

    <%= yield %>

    <footer>
      <p>
      
      </p>
    </footer>
  </body>
</html>